version: "3.9"

services:
  backend:
    build: .
    container_name: campus-backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:latest
    container_name: campus-mongodb
    ports:
      - "27010:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data: